/*Background*/
/*****************/
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, red 50%,	#fff 50%);
  bottom:0;
  left:-100%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*********************/
.nav{
    justify-content: flex-end;
    text-align: flex-end;
    word-spacing: -.4ch;
    line-height: 4rem;
}
/****Кнопки******/
.header__logo{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 36px;
  font-weight: 300;
  background:
  linear-gradient(currentColor 0 0) 0 0,
  linear-gradient(currentColor 0 0) 0 0,
  linear-gradient(currentColor 0 0) 100% 100%,
  linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.header__logo:hover{
  --d: 100%;
}
.header__pic{
  width: 200px;
  height: 200px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  white-space: nowrap;
}
.type--A{
  --line_color : #555555 ;
  --back_color : #FFECF6  ;
}
.type--B{
  --line_color : #1b1919 ;
  --back_color : #E9ECFF
}
.button{
    position : relative;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
    color:rgb(30,30,30);
    font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
    font-size: 24px;
    font-weight: 300;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .04s .02s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}
.container{
  width : 100% ;
  height : 300px ;
  display : flex ;
  flex-direction : column ;
  justify-content: left;
  align-items : start ;
  margin-left: 1rem;
  margin-top: 2rem;
}
.button:not(:last-child){
  margin-bottom : 64px ;
}
/**********************************/
.header__{
  display: inline-flex;
  padding-bottom: 4rem;
}
header{
    color:rgb(30,30,30);
    font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
    font-size: 60px;
    font-weight: 600;
    line-height: 10rem;
    margin-left: 2rem;
    display: flex;
    animation-name: h1__anim;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes h1__anim{
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}
.one_way_line_text{
  color:rgb(30,30,30);
  font-size: 16px;
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ; 
  justify-content: flex-end;
  text-align: flex-end;
  word-spacing: -.4ch;
  display: inline-flex;
}
.one_way_line{
  color:rgb(30,30,30);
  display: inline-flex;
  width: 100%;
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 15px;
}
h2{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 24px;
  font-weight: 300;
  justify-content: flex-end;
  text-align: flex-end;
  line-height: 45px;
  word-spacing: 15px;
  margin-left: 2.5rem;
  resize: horizontal;
}

#frame{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 24px;
  font-weight: 300;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 2rem;
}
.frame{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 2rem;
}
.Rectangle{
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 15px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  align-items: flex;
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, rgb(30,30,30), rgb(30,30,30)),
                      linear-gradient(to bottom, rgb(30,30,30), rgb(30,30,30)),
                      linear-gradient(to right, rgb(30,30,30), rgb(30,30,30)),
                      linear-gradient(to bottom, rgb(30,30,30), rgb(30,30,30));
  background-size:    100% 3px,
                      3px 100%,
                      100% 3px,
                      3px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.Rectangle:hover{
  animation-play-state: paused;
  --d: 100%;
  --p: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}
@keyframes bg {
  0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  25% {
      background-size:    100% 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  50% {
      background-size:    100% 3px,
                          3px 100%,
                          0 3px,
                          3px 0;
  }
  75% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 0;
  }
  100% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 100%;
  }
}
.textRectangle{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 24px;
  font-weight: 300;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  padding-top: 2rem;
  background: 
     linear-gradient(currentColor 0 0) left  var(--p, 50%) bottom 0 /var(--d, 10%) 3px no-repeat,
     linear-gradient(currentColor 0 0) right var(--p, 50%) bottom 0 /var(--d, 10%) 3px no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
}
/******Кнопка услуги****/
.uslugi_button{
  width: 150px;
  height: 50px;
  display: flex;
  background-color: rgb(253,255,245);
  border-color: black;
  border-radius:20px;
  align-items: center;
  justify-content: center;
}
.uslugi{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 24px;
  font-weight: 300;
  display: inline-flex;
  position: relative;
}
/*******************/
.lines_in_different_directions{
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 4rem;
}
.lines_in_different_directions::after{
  background: #fff;
  border-radius: 20px;
  border: 2px solid black;
  backdrop-filter: blur(8px);
  content: 'Портфолио';
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 18px;
  font-weight: 300;
  padding: 0 4px;
  position: relative;
  top: -13px;
}
.frame2{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction : column ;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.RectangleBIG{
  position:relative;
  width: 1200px;
  height: 800px;
  border: 2px solid black;
  margin: 15px;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url(../images/website-3374825_1920.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.background2 {
  background-image: url(../images/1681941921_sneg-top-p-kiberbezopasnost-kartinki-dlya-prezentatsi-27.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.background3 {
  background-image: url(../images/coding-and-programming-computer-science-and-it.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.blur {
  animation: changeWidth 8s ease-in-out infinite;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-right: 1px solid whitesmoke;
  height: 100%;
  border-radius: 20px;
}

.multiple-filters {
  backdrop-filter: blur(20px) saturate(120%) contrast(200%);
}

@keyframes changeWidth {
  0% {
    width: 0%;
  }
  5% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  80% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

.btn {
  backface-visibility: hidden;
  background: black;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  left: 50%;
  padding: 12px 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  &:focus {
    outline: none;
  }
}
.lines_in_different_directions2{
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 4rem;
  padding-bottom: 2rem;
}
.lines_in_different_directions2::after{
  background: #fff;
  border-radius: 20px;
  border: 2px solid black;
  backdrop-filter: blur(8px);
  content: 'Наши клиенты';
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 18px;
  font-weight: 300;
  padding: 0 4px;
  position: relative;
  top: -13px;
}
.rectangle_STR_first{
  width: 100%;
  height: 170px;
  border: 2px solid black;
  text-align: center;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
}
.brand-parent {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
}
.brands-carousel {
  height: 100px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  animation: animate 10s linear infinite;
}
.brands-carousel .slide-content {
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
}
.brands-carousel .slide-content img {
  height: 100px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  white-space: nowrap;
  color: #808080;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  transition: all .5s ease-in-out 0s;
}
.brands-carousel .slide-content a:hover, .brands-carousel .slide-content a:active {
  box-shadow: 0 0 25px rgba(0,0,0,.15);
}
@keyframes animate {
  0% {
      transform: translate3d(0, 0,0);
  }
  100% {
      transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes animate {
  0% {
      transform: translate3d(0, 0,0);
  }
  100% {
      transform: translate3d(-100%, 0, 0);
  }
}
.brands-carousel .slide-content a img {
  display: inline-block;
  width: auto;
  max-width: 100%!important;
  height: auto;
  max-height: 95%;
  filter:    grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: .5;
  transition: all .3s ease-in-out;
}
.brands-carousel .slide-content a:hover img, 
.brands-carousel .slide-content a:active img {
  filter:    grayscale(0);
  -webkit-filter: grayscale(0);
  opacity: 1;
}
.rectangle_STR_second{
  width: 100%;
  height: 120px;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  justify-content: center;
  text-align: center;
  align-items: center;
}
.rectangle_STR_second_text{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  padding-top: 1.5rem;
}
.pred_footer{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
.footer{
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
h4{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 56px;
  font-weight: 300;
  text-align:start;
  margin-left: 5rem;
}
.frame3{
  display:inline-flex;
  margin-bottom: 5rem;
  text-align:center;
  justify-content: center;
  align-items: center;
}
.contact_footer{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 26px;
  font-weight: 300;
  text-align:center;
  margin-left: 6rem;
  line-height: 4rem;
  width: 800px;
}
.nav_footer{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 26px;
  font-weight: 300;
  text-align:center;
  line-height: 4rem;
  align-items: center;
  justify-content: center;
}
.about__footer{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 26px;
  font-weight: 300;
  background: 
  linear-gradient(#000 0 0) 
  0% calc(-3px - 100%) /var(--d, 0%) 200% no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}
.about__footer:hover{
  --d: 100%;
  background-position: 50% 0%;
  color: #fff;
  transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}
.services__footer{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 26px;
  font-weight: 300;
  background: 
  linear-gradient(#000 0 0) 
  0% calc(-3px - 100%) /var(--d, 0%) 200% no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}
.services__footer:hover{
  --d: 100%;
  background-position: 50% 0%;
  color: #fff;
  transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}
#line1__footer{
  position: relative;
  rotate: 270deg;
  width: 100%;
  border:none;
  border-top:double #333;
  color: #333;
  overflow: visible;
  display: flex ;
}
#line2__footer{
  position: relative;
  rotate: 90deg;
  width: 100%;
  border:none;
  border-top:double #333;
  color: #333;
  overflow: hidden;
  display: flex ;
}
#line3__footer{
  position: relative;
  width: 100%;
  border:none;
  border-top:double #333;
  color: #333;
  overflow: hidden;
  display: flex ;
}
.footer_end{
  color:rgb(30,30,30);
  font-family: 'ITC Avant Garde Gothic Demi','Arial', sans-serif ;
  font-size: 12px;
  font-weight: 300;
  display: inline;
}
#quote{
  margin-left: 0.8rem;
  text-align: left;
}
#sobaka{
  text-align: right;
  justify-content: end;
  align-items: end;
}
